.skill {
  display: flex;
  padding: 0 1.5rem 0 1.5 rem;
  height: 80vh;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.s-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 2rem;
  position: relative;
  gap: 1rem;
  margin-top: 3rem;
}
.s-left > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.s-left > :nth-child(2) {
  color: var(--gray);
  font-size: 14px;
  font-weight: 100;
}

.cv-button {
  width: 6.5rem;
  height: 2rem;
}

.resume > img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 2rem;
  margin-top: 1rem;
}

.s-blur2 {
  left: 5rem;
  top: 8rem;
}

/* 
.s-blur1 {
  top: 13rem;
  left: 18rem;
} */

@media screen and (max-width: 480px) {
  .skill {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }
  .resume {
    margin-bottom: 15rem;
  }
}
