.contact-form {
  padding: 0 3rem 2rem 3rem;
  display: flex;
  height: 60vh;
  /* scroll */
  padding-top: 1rem;
  flex-direction: column;
  align-items: center;
}
.contact-form .message{
  width: 300px;
  max-width: 400px;
}
.cont-left {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  position: relative;
}

.cont-left span:nth-of-type(1) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.cont-left span:nth-of-type(2) {
  color: var(--yellow);
  font-size: 2.5rem;
  font-weight: bold;
}

.cont-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  margin-bottom: 5rem;
  animation-fill-mode: forwards;
  animation: backInRight 1s 1.2s;
}
.cont-right > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.cont-right .user {
  width: 20rem;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid var(--black);
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}
textarea {
  height: 4rem !important;
  min-width: 250px;
  text-align: center;
}
.f-button {
  width: 6.5rem;
  height: 2rem;
  font-size: 13px;
}
.c-blur1 {
  top: 1rem;
  left: 8rem;
}
@media screen and (max-width: 480px) {
  .works {
    margin-top: 2rem;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 40rem;
  }
  .c-right .user {
    width: 10rem;
  }
  .cont-right {
    margin-top: -540px;
  }
}

@media screen and (min-width: 360px) {
  .works {
    margin-top: 2rem;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 40rem;
  }
  .contact-form .user {
    max-width: 300px;
  }
  .cont-right {
    margin-top: -540px;
    max-width: 400px;
  }
}

@media screen and (min-width: 375px) {
  .works {
    margin-top: 2rem;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 40rem;
    width: 100%;
  }
  .contact-form .user {
    width: 300px;
  }
  .cont-right {
    margin-top: -540px;
  }
}
