.n-wrapper {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  top: 0;
}
.n-left {
  flex: 0.5;
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: left;
  flex-direction: row;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  font-weight: 400;
}
.n-list {
  flex: 1;
}

.n-list > ul {
  display: flex;
  gap: 1rem;
}
.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}
.n-button {
  align-items: center;
  margin-top: 5px;
  margin-right: 2rem;
  position: relative;
}

@media screen and (max-width: 420px) {
  .n-list {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .n-list {
    display: none;
  }
  .n-wrapper {
    transform: scale(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
    margin-bottom: 2rem;
    top: 0;
    margin-left: 1rem;
  }
}
/* @media screen and (max-width: 360px) {
  .n-list {
    display: none;
  }
} */
@media screen and (width: 540px) {
  .n-list {
    transform: scale(0.7);
  }
  .n-wrapper {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    margin-bottom: 2rem;
    top: 0;
    margin-left: 1rem;
  }
}
