.works {
  display: flex;
  justify-content: center;
  padding: 2 1.5rem 0 1.5 rem;
  height: 70vh;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.cv-button {
  margin-top: 1rem;
}
.s-blur2 {
  left: 5rem;
  top: 8rem;
}
.s-left {
  margin-left: 4rem;
}
.s-blur1 {
  top: 10rem;
  left: 10rem;
  border-radius: 100%;
}
.stage-cube-cont {
  width: 60%;
  height: 100%;
  padding-top: 4rem;
  margin-left: 0;
  position: relative;
}
.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(60% - 100px);
}
.cubespinner > div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(56, 162, 237, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}
.face0 {
  transform: rotateZ(270deg);
}

.face1 {
  transform: translateZ(100px);
  color: #dd0031;
}
.face2 {
  transform: rotateY(90deg) translateZ(100px);
  color: #f06529;
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #5ed4f4;
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}
.face6 {
  transform: rotateX(-90deg) translateZ(100px);
  color: #ec4d28;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: 480px) {
  .works {
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 19rem;
  }
  .s-left {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    transform: scale(0.7);
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
  }
}
@media screen and (width: 540px) {
  #Skills {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 1rem;
    margin-bottom: 12rem;
    flex-direction: row;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 4rem;
    bottom: 4rem;
  }
}

@media screen and (width: 768px) {
  #Skills {
    flex-direction: row;
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .s-left {
    margin-left: 1rem;
    /* max-width: 200px; */
    justify-content: center;
    align-items: center;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 4rem;
    bottom: 18rem;
  }
}

@media screen and (width: 820px) {
  #Skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 4rem;
    bottom: 17rem;
  }
}

@media screen and (width: 912px) {
  #Skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 29vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 4rem;
    bottom: 17rem;
  }
}

@media screen and (width: 1024px) {
  #Skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 4rem;
    bottom: 15rem;
  }
}

@media screen and (min-width: 1280px) {
  #Skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  .s-left {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }
  .stage-cube-cont {
    width: 20%;
    height: 30%;
    margin-right: 9rem;
    left: 2rem;
    bottom: 1rem;
  }
}
