:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --skyBlue: #87ceeb;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgba(130, 161, 227, 0.08);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 1rem;
  overflow: hidden;
  color: var(--black);
}
.button {
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 12px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 2px 4px 3px rgb(251, 161, 40, 0.42);
}
.button:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
}
/* .blur {
  position: absolute;
  width: 2rem;
  height: 4rem;
  border-radius: 40%;
  background: #e2c0f8;
  filter: blur(12px);
  z-index: -1;
  top: -18%;
  left: 50%;
  filter: blur(22px);
} */

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 0.5rem;
  }
}
